.popup__button-save {
  display: block;
  height: 50px;
  width: 358px;
  box-sizing: border-box;
  margin: 48px auto 37px;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  font-style: normal;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: opacity 1s;
  border: none;
}
 
.popup__button-save:hover {
  opacity: 0.8; 
}


.popup__button-save:active {
  opacity: 0.8;
}
 
@media (max-width: 800px) {
 .popup__button-save {
   margin: 45px auto 25px;
   height: 46px;
   width: 238px;
   font-size: 14px;
  }
}